<footer class="footer">
    <div class="content-footer">
        <div class="footer-contact">
            <span class="website">www.holambra.com.br</span>
            <div class="icons">
                <i class="facebook"></i>
                <i class="instagram"></i>
                <i class="linkedin"></i>
            </div>
        </div>
        <div class="separator"></div>
        <div class="data">
            <p>© 2021 Cooperativa Agroindustrial Holambra</p>
            <p class="dev">Desenvolvido por Júlia Machado</p>
        </div>
    </div>
</footer>