.header-container {
  width: 100%;
  height: 90vh;
  background-image: url("../../../assets/images/background.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    gap: 15rem;

    .nav-brand {
      width: 35rem;
      height: 8rem;
      background-image: url("../../../assets//icons/logo_holambra_telescope.svg");
      background-repeat: no-repeat;
    }
    .nav-items-group {
      display: flex;
      gap: 1rem;

      .nav-items {
        list-style: none;
        font-size: 1.0rem;
        font-weight: 550;
        letter-spacing: .1rem;
        text-transform: uppercase;
        color: white;

        .nav-link{
          cursor: pointer;
        }
      }
    }
  }
  .subscribe{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;
    gap: 8rem;

    .subscribe-info{
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .title{
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 900;
        color: rgb(66, 192, 182);
      }
      .subtitle{
        width: 90%;
        color: white;
        font-size: 1.4rem;
        font-weight: 300;
      }
    }

    .subscribe-brand{
      width: 30rem;
      height: 30rem;
      background-image: url("../../../assets//icons/logo_visibilidade.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
