<div class="header-container" id="header">
  <nav class="navigation">
    <i class="nav-brand"></i>
    <ul class="nav-items-group">
      <li class="nav-items" *ngFor="let item of navItems">
        <a class="nav-link" (click)="scrollIntoView(item.goTo)">{{item.title}}</a>
      </li>
    </ul>
  </nav>

  <section class="subscribe">
    <div class="subscribe-info">
      <h1 class="title">Desafio de inovação Holambra Cooperativa</h1>
      <p class="subtitle">É hora de colocar seu projeto em prática e fazer a diferença no dia a dia dos produtores rurais.</p>
      <app-button [buttonProps]="buttonProps" ></app-button>
    </div>
    <i class="subscribe-brand"></i>
  </section>
</div>
