.scroll{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5rem;
    background-color: rgb(66, 192, 182);
    .scroll-icon{
        width: 2rem;
        height: 2rem;
        background-image: url("../../../assets//icons//up.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}