<div class="input" *ngIf="inputProps.type === 'text'">
    <input type="text" [placeholder]="inputProps.placeholder" />
</div>

<div class="input" *ngIf="inputProps.type === 'number'">
    <input type="number" [placeholder]="inputProps.placeholder" />
</div>

<div class="input" *ngIf="inputProps.type === 'email'">
    <input type="email" [placeholder]="inputProps.placeholder" />
</div>

<div class="input" *ngIf="inputProps.type === 'select'">
    <input type="select" [placeholder]="inputProps.placeholder" />
</div>