<section class="challenges-container" id="challenges">
  <div class="challenges-content">
    <h1 class="title">Desafios Propostos</h1>
    <p class="subtitle">
      Os principais desafios temáticos identificados junto ao setor produtivo
      são apresentados abaixo. As soluções apresentadas pelos candidatos devem
      buscar solucionar essas dores, tendo como foco ao menos uma das culturas:
      <span class="highlight"
        >soja, milho, feijão, algodão, trigo e citros.</span
      >
    </p>

    <div class="challenges-group">
      <div class="challenge">
        <div class="challenge-title">
          <div class="icon">
            <i class="management"></i>
          </div>
          <h2>Gestão e Monitoramento de Recursos Hídricos</h2>
        </div>

        <div class="challenge-text">
          <div class="text-icon">
            <i class="arrow-right"></i>
          </div>
          <p>
            Tecnologias e automação de sistemas irrigados por meio de soluções
            que visam melhorar a eficiência e eficácia na utilização dos
            recursos hídricos.
          </p>
        </div>

        <div class="challenge-text">
          <div class="text-icon">
            <i class="arrow-right"></i>
          </div>
          <p>Novas tecnologias relacionadas ao tema deste item.</p>
        </div>
      </div>

      <div class="challenge">
        <div class="challenge-title">
          <div class="icon">
            <i class="monitoring"></i>
          </div>
          <h2>Monitoramento de Pragas e Doenças</h2>
        </div>

        <div class="challenge-text">
          <div class="text-icon">
            <i class="arrow-right"></i>
          </div>
          <p>
            Sistemas e/ou novas tecnologias que contribuam para a melhoria da
            detecção e monitoramento de pragas e doenças, utilizando ou não,
            inteligência preditiva.
          </p>
        </div>
      </div>

      <div class="challenge">
        <div class="challenge-title">
          <div class="icon">
            <i class="products"></i>
          </div>
          <h2>Bioprodutos</h2>
        </div>

        <div class="challenge-text">
          <div class="text-icon">
            <i class="arrow-right"></i>
          </div>
          <p>
            Desenvolvimento de bioinsumos de eficiência aumentada para o
            incremento da produção, da qualidade da produção e/ou proteção de
            plantas contra estresses bióticos e abióticos, tais como agentes de
            controle biológico; bioestimulantes; biofertilizantes;
            condicionadores de ambientes; entre outros.
          </p>
        </div>
      </div>

      <div class="challenge">
        <div class="challenge-title">
          <div class="icon">
            <i class="machines"></i>
          </div>
          <h2>Bioprodutos</h2>
        </div>

        <div class="challenge-text">
          <div class="text-icon">
            <i class="arrow-right"></i>
          </div>
          <p>
            Interações entre máquina-solo-planta que busquem sistemas produtivos
            mais eficientes.
          </p>
        </div>

        <div class="challenge-text">
          <div class="text-icon">
            <i class="arrow-right"></i>
          </div>
          <p>
            Soluções que contribuam para a otimização e melhoria no sistema de
            colheita de feijão.
          </p>
        </div>

        <div class="challenge-text">
          <div class="text-icon">
            <i class="arrow-right"></i>
          </div>
          <p>Novas tecnologias relacionadas ao tema deste item.</p>
        </div>
      </div>
    </div>
  </div>
</section>
