<form class="form" [formGroup]="subscribeForm" (ngSubmit)="submitForm()" id="subscribe">
    <h1 class="title">Faça sua inscrição</h1>
    <div class="form-group">
        <div class="input-form">
            <input type="text" placeholder="Nome" formControlName="name" />
        </div>

        <div class="input-form">
            <input type="text" placeholder="Sobrenome" formControlName="lastName" />
        </div>

        <div class="input-form">
            <input type="email" placeholder="Email" formControlName="email" />
            <span class="invalid" *ngIf="invalidEmail()">Por favor coloque um email válido.</span>
        </div>
        
        <div class="input-form">
            <input type="text" mask="(00) 000000000" placeholder="Telefone" formControlName="phone" />
            <span class="invalid" *ngIf="invalidPhone()">Por favor coloque o seu telefone.</span>
        </div>
        
        <div class="input-form">
            <input type="number" placeholder="CEP" formControlName="cep" (blur)="findCep(subscribeForm.get('cep')?.value)" />
        </div>
        
        <div class="input-form">
            <input type="text" placeholder="Endereço" formControlName="address" />
        </div>
        
        <div class="input-form">
            <input type="text" placeholder="Bairro" formControlName="neighborhood" />
        </div>
        
        <div class="input-form">
            <input type="text" placeholder="Complemento" formControlName="complement" />
        </div>
        
        <div class="input-form">
            <input type="text" placeholder="Cidade" formControlName="city" />
        </div>
        
        <div class="input-form">
            <input type="text" placeholder="Estado" formControlName="state" />
        </div>
        <app-button class="form-button" *ngIf="buttonProps" [buttonProps]="buttonProps"></app-button>
    </div>
    <app-scroll-up></app-scroll-up>
</form>