.button{
  border: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
.primary{
  background-color: rgb(0, 50, 98);
  color: white;
}
.secondary{
  background-color: rgb(66, 192, 182);
  color: white;
}
.default{
  background-color: white;
  color: rgb(0, 50, 98);
}
