.button{
  border: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
.primary{
  background-color: rgb(0, 50, 98);
  color: white;
}
.secondary{
  padding: 1rem 8.2rem;
  display: flex;
  flex-grow: 1;
  background-color: rgb(66, 192, 182);
  color: white;
}
.default{
  background-color: white;
  color: rgb(0, 50, 98);
}

.xl {
  padding: 1.5rem 2rem;
  font-size: 1.8rem;
}
